/* Style for Body */
body {
    background-color: rgb(219, 197, 248);
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: "Kalam", "Lato";
}

/* Styles for alphabets divs in the game area */
.clicky-alphabets-div {
    max-width: 770px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px;
    font-family: "Kalam", "Lato";
    font-size: x-large;
}

.alphabet-div {
    min-width: 13%;
    padding: 5px 2px;
    margin: 5px;
}


/* Style for start and reset buttons */


.game-button {
    font-size: xx-large;
    font-family: "Kalam", "Lato";
    justify-content: space-evenly;
    
}

.start-button {
    margin-right: 8%;
    padding: 5px 10px;
    background-color: rgb(10, 56, 3);
    color: rgb(252, 251, 248);
}

.reset-button {
    margin-left: 8%;
    padding: 5px 10px;
    background-color: rgb(68, 5, 58);
    color: rgb(252, 251, 248);
}