/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style for Body */
body {
    background-color: rgb(219, 197, 248);
    margin: 8px 0 2px 0;
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: "Kalam", "Lato";
}


/* Styles for alphabets divs in the game area */
.clicky-alphabets-div {
    max-width: 770px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px;
    font-family: "Kalam", "Lato";
    font-size: larger;
}

.alphabet-div {
    min-width: 13%;
    padding: 5px 2px;
    margin: 5px;
    cursor: pointer;
}


/* Style for start and reset buttons */

#startButton {
    margin-right: 8%;
    padding: 5px 10px;
    background-color: rgb(10, 56, 3);
    color: rgb(252, 251, 248);
    cursor: pointer;
    font-size: x-large;
    font-family: "Kalam", "Lato";
    justify-content: space-evenly;
}

#resetButton {
    margin-left: 8%;
    padding: 5px 10px;
    background-color: rgb(68, 5, 58);
    color: rgb(252, 251, 248);
    cursor: pointer;
    font-size: x-large;
    font-family: "Kalam", "Lato";
    justify-content: space-evenly;
}

/*Images*/

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /*Timer and Your Best Time*/

  #timer, #bestTime {
    margin-top: 10px;
    font-size: x-large;
    font-family: "Kalam", "Lato";
    justify-content: space-evenly;
  }


/* Footer */
footer {
    padding: 0 1rem 0 1rem;
}

footer>h3 {
    font-family: "Kalam", "Lato";
    letter-spacing: 1px;
    color: rgb(8, 8, 8);
}

#footer-group {
    margin: 0 auto;
    text-align: center;
    padding-top: 8rem;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: rgb(8, 8, 8);
    justify-content: space-evenly;
}

#disclaimer{
    font-size: medium;
}