/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style for Body */
body {
    background-color: rgb(246, 243, 250);
    color: rgb(8, 8, 8);
    text-align: center;
    font-family: "Kalam", "Lato", "sans serif";
    top:10px;
    background: url('/assets/images/hero1.webp') no-repeat center;
    
}

/* Style for start and reset buttons */

#startButton {
    margin-right: 8%;
    padding: 5px 10px;
    background-color: rgb(10, 56, 3);
    color: rgb(252, 251, 248);
    cursor: pointer;
    font-size: x-large;
    font-family: "Kalam", "Lato", "sans serif";
    justify-content: space-evenly;
}

#resetButton {
    margin-left: 8%;
    padding: 5px 10px;
    background-color: rgb(102, 4, 4);
    color: rgb(252, 251, 248);
    cursor: pointer;
    font-size: x-large;
    font-family: "Kalam", "Lato" "sans serif";
    justify-content: space-evenly;
}

/*Images*/

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 100px;
  }

  /*Timer and Your Best Time*/

  #timer, #bestTime {
    margin-top: 10px;
    font-size: x-large;
    font-family: "Kalam", "Lato", "sans serif";
    justify-content: space-evenly;
    font-weight: 600;
  }
  
  .correct {
    background-color: #5cb85c; /* Green */
  }

  .incorrect {
    background-color: #d9534f; /* Red */
  }

/* Footer */
footer {
    padding: 20px 0;;
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
     
}

footer>h3 {
    font-family: "Kalam", "Lato", "sans serif";
    letter-spacing: 1px;
    color: rgb(8, 8, 8);
}

#footer-group {
    margin: 0 auto;
    text-align: center;
    padding-top: 8rem;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: rgb(8, 8, 8);
    justify-content: space-evenly;
}

#disclaimer{
    font-size: medium;
}

/* Media query for small screens */
@media only screen and (max-width: 1450px) {
    footer {
        position: static; /* Set to static for small screens to be at the bottom of the content */
    }
}